# Variables - Tuplas

Las tuplas son parte de los objeto capaces de alacenar coleccions de objetos, al igual que las cadenas de texto, listas o diccionarios. Tienen la característica de ser **inmutables**.

## Declaración de tuplas
Las tuplas son declaradas de la siguiente forma:
```python
tupla_1 = (objeto_1, objeto_2, objeto_3, ..., objeto_N)
```

In [1]:
# Ejemplo
tupla = (1, 2, 3, 4)

In [6]:
# Veamos que es inmutable
tupla[0] # La manera en que se acceden a los datos es igual que con una lista, con índices

1

In [7]:
tupla[0] = 1234

TypeError: 'tuple' object does not support item assignment

Fuera de esta inmutabilidad, la manera de acceder a sus elementos, subconjuntos de los mismos y orden, es identico que con una lista o cadena de texto.

## Métodos de una tupla

In [9]:
tupla = (1, 2, 3, 4, 4, 4, 2, 4, 5, 3, 4, 2, 1)

In [10]:
# Count para contar número de repeticiones un elemento
tupla.count(4)

5

In [14]:
# Regresa el índice de la primera aparición
tupla.index(2)

1

## Declarión múltiple de variables usando tuplas

In [1]:
frutas = ("manzana", "plátano", "cereza") # Se define la variable frutas, como una tupla

In [2]:
type(frutas)

tuple

In [3]:
frutas[1]

'plátano'

In [6]:
# Python, siempre que vea una coma, lo va a asociar con una tupla, a menos que se indique [], {}
fruta = "manzana", "platano"

In [5]:
fruta

('manzana', 'platano')

In [8]:
# Esto lo ve como una tupla
1, 2

(1, 2)

In [9]:
# También es posible definir variables múltiples usando las propiedades de tupla que acepta Python
fruta = "manzana" 
verdura = "espinaca" 
tubérculo = "papa"

In [10]:
fruta, verdura, tuberculo = "manzana", "espinaca", "papa"

In [11]:
print(fruta)
print(verdura)
print(tuberculo)

manzana
espinaca
papa

In [12]:
frutas

('manzana', 'plátano', 'cereza')

In [13]:
green, yellow, red = frutas

In [14]:
print(green)

manzana

In [15]:
print(yellow)

plátano

In [16]:
print(red)

cereza

In [17]:
# Si ponemos una variable más a asigna, de las que contiene nuestra tupla, saldrá error
green, yellow, red, purple = frutas

ValueError: not enough values to unpack (expected 4, got 3)

In [19]:
# Aquí tiene menos valores de los que tiene la tupla
green, yellow = frutas

ValueError: too many values to unpack (expected 2)

In [21]:
frutas = (1,2,(3,4))
a, b, c = frutas

In [22]:
a, b, c

(1, 2, (3, 4))

## Intercambio de valores entre variables

In [28]:
a = "a"

In [29]:
b = "b"

In [30]:
temp = a
a = b
b = temp

In [31]:
a, b

('b', 'a')

In [32]:
a="a"
b="b"

In [36]:
# con esto se hace el swap de las variables
a, b = b, a

In [37]:
a,b

('b', 'a')

### Ejemplo

In [38]:
carro = "Fiat"
moto = "Ducati"

In [39]:
carro, moto = moto, carro

In [40]:
carro

'Ducati'

In [41]:
moto

'Fiat'

## Tupla como puntero

En programación, en particular, en programación basada en lenguaje C/C++, existe un tipo de variable conocida como _puntero_ el cual basicamente es una variable que, como su nombre lo indica, apunta hacia otra variable. Normalmente se utiliza para utilizar una sola variable que apunte hacia un array, lista, o conjunto de bits asignados dentro de la memoria RAM.

```c
int *puntero;
```

Se está asignando con la variable `*puntero` la dirección donde se va a guardar una lista (o array) de tamaño desconocido de puros valores enteros.

Python por su parte hereda el hecho de que el `*` permite señal que no se sabe con precisión el número de elementos que va a tener dicha variable.

In [47]:
# Ejemplo
frutas = ("manzana", "mango", "papaya", "plátano", "piña", "cereza")
green, *yellow , red = frutas

In [48]:
green

'manzana'

In [49]:
red

'cereza'

In [50]:
yellow # Lo regresa como lista

['mango', 'papaya', 'plátano', 'piña']

In [51]:
# Adelantandonos un poco a funciones
def sumadora(*sumandos):
    return sum(sumandos)

La función pre-definida `sum` es una función de Python que recibe cualquier arreglo de enteros o flotantes, y regresa su sumatoria.

In [54]:
sumadora(1,2,1,2,3,4,51,2,35,12,3)

116

In [55]:
def sumador(sumando_1, sumando_2):
    return sumando_1 + sumando_2

In [58]:
sumador(1,2,3)

TypeError: sumador() takes 2 positional arguments but 3 were given